:root {
    --midnight-primary: #876796;
    --midnight-secondary: #E2D5CC;
}

.context-menu {
  position: absolute;
  transition: height .268s cubic-bezier(0.4,0.0,0.2,1),
              opacity .15s cubic-bezier(0.4,0.0,0.2,1),
              transform .2s cubic-bezier(0.4,0.0,0.2,1);
  overflow: hidden;
  width: 200px;
  margin-top: 10px;
  opacity: 0;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12),
              0 5px 5px -3px rgba(0,0,0,0.2);
  border-radius: 5px;
  user-select: none;
  height: 0px;
}

.context-menu-expanded {
  opacity: 1;
  transform: translate(0px, 5px);
}
